*.class

# Package Files #
*.war
*.ear

# Binary output $
backend/bin/

# IntelliJ files
*.iml
.idea/

# Python files
*.py[cod]

# Static site dir (should be populated by ./manage.py collectstatic)
frontend/transparent.com/transparent/static/

# C extensions
*.so

# log files
log
backend/history
backend/index

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
frontend/lib
lib64
__pycache__
