{% extends "rightbase.html" %}

{% block title %}
<title>About</title>
{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="centered-content">
    
            <!-- TEXT START -->
            <div class="row-fluid">
                <div class="span12">
                    <!-- Introduction -->
                    <h3>Transparent.About</h3>
                    <div class="text-header">
                        Introduction
                    </div>
                    <br>
                    <div class="text-left">
                        <p>Have you ever used an online search engine to look for the cheapest products on the market? Have you ever found lower prices at retailers not included in those searches? Transparent is an open source effort to deliver the best deals on online retail stores to its users. It accomplishes this by opening up the development process to the community to expand the search to previously unreachable vendors.</p>
                    </div>
                    <br>
                    <br>
                    <div class="text-header">
                        Features
                    </div>
                    <br>
                    <div class="text-left">
                        <p>The price tracking feature allows the user to view a product's price history and perform a simple prediction of the future product cost. Users can also contribute code to extend the current search database of the application.</p>
                    </div>
          </div>
    </div>  <!-- End of row. Max of 3 items per row. --> 
        
</div> <!-- End of Contents-->

{% endblock %}

