<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- TemplateBeginEditable name="doctitle" -->
{% block title %}
{% endblock title %}
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-responsive.css" %}">
<link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700'>

</head>

<body>
<!--------------------HEADER ---------------->
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
      		<!-- Logo at top right of screen. Should link to home page -->
            <a class="brand" href="/">Transparent</a>
            <div class="nav-collapse collapse">
                
                {% if user.is_authenticated %}
                    <form class="navbar-form pull-right" method="post" action="/logout/">
                    {% csrf_token %}
                    <input type="submit" class="btn" value="Logout">
                    </form>
					<div class="loggedin pull-right">Logged in as {{ user.username }}</div>
                {% else %}
                  	<!-- Register form -->
                    <!-- For now, just takes you to a different page -->
                    <form class="navbar-form pull-right" action="/register/">
                    <input type="submit" class="btn" value="Register">
                    </form>
                    
                    <!-- Login form -->
                    <form class="navbar-form pull-right" method="post" action="/login/">
                    {% csrf_token %}
                    <input class="span2" type="text" name="username" placeholder="Email">
                    <input class="span2" type="password" name="password" placeholder="Password">
                    <input type="submit" class="btn" value="Login">
                    </form>
                {% endif %}

          </div>
        </div>
</div>



<!-- ------------------ ACTUAL CONTENT ------------------ -->
<div class="outer-container">
	<div class="container">

    	{% block sidebarLeft %}
    	{% endblock sidebarLeft %}
    
    	{% block content %}
    	{% endblock content %}

	    {% block sidebarRight %}
    	{% endblock sidebarRight %}

    	{% if user.is_authenticated %}
    	<!-- ONLY SHOW IF LOGGED IN. Personal account links to different pages -->
    	<div class="sidebarRight">
        	<div class="well">
            	<ul class="nav nav-list">
              	  <li><a href="{% url 'finder.views.settings' %}"> <i class="icon-cog"> </i> Settings</a></li>
              	  <li><a href="{% url 'finder.views.tracked_items' %}"> <i class="icon-shopping-cart"> </i> Tracked Items</a></li>
              	  {% comment %}
              	  <li><a href="{% url 'finder.views.selected_modules' %}"> <i class="icon-list-alt"> </i> Selected Modules</a></li> 
              	  {% endcomment %}
            	  </ul>
        	</div>
			{% comment %}
			<form class="btn btn-success btn-block" method="post" action="/submit/">
            	{% csrf_token %}
            	<input type="submit" class="btn" value="Submit New Module">
            </form>
			{% endcomment %}

        	<form method="get" action="/submit/">
            	<button type="submit" class="btn btn-success btn-block">Submit New Module</button>
        	</form>
   		</div>
    	{% endif %}
	</div>
</div>

<!-- ------------------ FOOTER ------------------ -->

	<div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-inner" >
            <ul class="nav" >
              <li><a href="{% url 'finder.views.about' %}">About</a></li>
			  <li class="divider-vertical"></li>
              <li><a href="{% url 'finder.views.how_it_works' %}">How it Works</a></li>
			  <li class="divider-vertical"></li>
              <li><a href="{% url 'finder.views.modules' %}">Modules</a></li>
            </ul>
          </div><!--/.nav-collapse -->
    </div>
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/bootstrap.js" %}"></script>
    {% comment %}
    <script src="{% static "js/bootstrap-transition.js" %}"></script>
    <script src="{% static "js/bootstrap-alert.js" %}"></script>
    <script src="{% static "js/bootstrap-modal.js" %}"></script>
    <script src="{% static "js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "js/bootstrap-tab.js" %}"></script>
    <script src="{% static "js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "js/bootstrap-popover.js" %}"></script>
    <script src="{% static "js/bootstrap-button.js" %}"></script>
    <script src="{% static "js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "js/bootstrap-typeahead.js" %}"></script>
    {% endcomment %}

</body>
</html>
