<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- TemplateBeginEditable name="doctitle" -->
{% block title %}
{% endblock title %}
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
<link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700'>

</head>

<body>
<!--------------------HEADER ---------------->
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
      		<!-- Logo at top right of screen. Should link to home page -->
            <a class="brand" href="/">Transparent</a>
            <div class="nav-collapse collapse">
                
                {% if user.is_authenticated %}
                <form class="navbar-form pull-right" method="post" action="{% url 'finder.views.logout' %}">
                    {% csrf_token %}
                    <input type="submit" class="btn" value="Logout">
                    </form>
					<div class="loggedin pull-right">Logged in as {{ user.username }}</div>
                {% else %}
                  	<!-- Register form -->
                    <!-- For now, just takes you to a different page -->
                    <form class="navbar-form pull-right" action="{% url 'finder.views.register' %}">
                    <input type="submit" class="btn" value="Register">
                    </form>
                    
                    <!-- Login form -->
                    <form class="navbar-form pull-right" method="post" action="{% url 'finder.views.login' %}">
                    {% csrf_token %}
                    <input class="span2" type="text" name="username" placeholder="Username">
                    <input class="span2" type="password" name="password" placeholder="Password">
                    <input type="submit" class="btn" value="Login">
                    </form>
                {% endif %}

          </div>
        </div>
</div>



<!-- ------------------ ACTUAL CONTENT ------------------ -->
<div class="outer-container">
	<div class="container">

    	{% block sidebarLeft %}
    	{% endblock sidebarLeft %}
    
    	{% block content %}
    	{% endblock content %}

	    {% block sidebarRight %}
    	{% endblock sidebarRight %}

    	{% if user.is_authenticated %}
    	<div class="sidebarRight">
        	<div class="well">
            	<ul class="nav nav-list">
              	  <li><a href="{% url 'finder.views.settings' %}"> <i class="icon-cog"> </i> Settings</a></li>
              	  <li><a href="{% url 'finder.views.tracked_items' %}"> <i class="icon-shopping-cart"> </i> Tracked Items</a></li>
              	  {% comment %}
              	  <li><a href="{% url 'finder.views.selected_modules' %}"> <i class="icon-list-alt"> </i> Selected Modules</a></li> 
              	  {% endcomment %}
            	  </ul>
        	</div>

        	<form method="get" action="{% url 'finder.views.submit' %}">
            	<button type="submit" class="btn btn-success btn-block">Submit New Module</button>
        	</form>
   		</div>
    	{% endif %}
	</div>
</div>

<!-- ------------------ FOOTER ------------------ -->

	<div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-inner" >
            <ul class="nav" >
              <li><a href="{% url 'finder.views.about' %}">About</a></li>
			  <li class="divider-vertical"></li>
              <li><a href="{% url 'finder.views.how_it_works' %}">How it Works</a></li>
			  <li class="divider-vertical"></li>
              <li><a href="{% url 'finder.views.moduleAPI' %}">Module API</a></li>
            </ul>
          </div><!--/.nav-collapse -->
    </div>
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery-2.0.0.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/common.js" %}"></script>
    <script src="{% static "js/holder.js" %}"></script>
	<script src="{% static "js/chartkick.js" %}"></script>
    <script src="{% static "js/bootstrap-tab.js" %}"></script>
    <script src="{% static "js/bootstrap-inputmask.js" %}"></script>
</body>
</html>
