{% extends "rightbase.html" %}

{% block title %}
<title>Transparent: How it Works</title>
{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="centered-content">
    
    	<!-- TEXT START -->
        <div class="row-fluid">
        	<div class="span12">
                <!-- Features -->
                <h3>Transparent.How it Works</h3>
                <div class="text-header">
                	Product Search
                </div>
                <br>
                <div class="text-left">
            		<p>Transparent searches through a number of different retail sites for the current lowest product prices. The searchable retailers are determined by the availability of a website parsing module for that retailer. During searches, the user can select which retailers to search through and the parsing algorithms to employ by selecting which modules to use.</p>
                </div>
                <br>
                <br>
                <div class="text-header">
                	Price Tracking
                </div>
                <br>
                <div class="text-left">
                    <p>The <a href="{% url 'finder.views.product' 1 %}">product page</a> for each item lists the current lowest price and the various attributes of the product. {% comment %} It also contains a price history graph to inform the user about the item's price trends. {% endcomment %} The history of the module and retailer through which the cheapest priced item was found is also viewable from the graph.</p>
                </div>
                <br>
                <br>
                <div class="text-header">
                	Local Search Modules
                </div>
                <br>
                <div class="text-left">
            		<p>One type of module available to the user is all modules that are stored on the application's backend server. The requisit source and path files of each such module is available in our github <a href=#>data base</a>. <a href='https://github.com/rafiss/transparent/tree/master/backend/transparent/modules/newegg'>Here</a> is an example for Newegg.</p>
                </div>
				{% comment %}
                <br>
                <br>
                <div class="text-header">
                	Remote Search Modules
                </div>
                <br>
                <div class="text-left">
            		<p>If the user would rather not reveal the implementation of their parser, they have the option of running their module on their own computer and simply delivering the parsed data to transparent for storage and search.</p>
                </div>
				{% endcomment %}
            </div>
        </div>
        
</div> <!-- End of Contents-->

{% endblock %}

