{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<!-- Search bar -->
<div class="content">
    <div class="btn-group btn-group-vertical">
            <!-- INCLUDE LOGO SOURCE HERE instead of "..." -->

            <a href="/"><img src="{% static "img/logo-placeholder.jpg" %}" width="512" height="94" class="img-rounded"></a>
            <br>
            <br>
            
        <!-- Search bar form -->
        <div class="input-append">
        <form action="/search/">
            <input class="span5" id="appendedInputButton" placeholder="Type your query (e.g. GTX 670, Intel 3770K, ...)" type="text" name="q">
            <input type="hidden" type="text" name="p" value="1">
            <input class="btn btn-primary" type="submit" value="Search">
        </form>
    	</div>
    </div>	
</div>

{% endblock %}
