{% extends "leftbase.html" %}

{% block title %}
<title>Transparent: An Open Price Tracking Platform</title>
{% endblock %}

{% block content %}
{% load staticfiles %}

<!-- Search bar -->
<div class="content">
    <div class="btn-group btn-group-vertical">
            <!-- INCLUDE LOGO SOURCE HERE instead of "..." -->

            <a href="/"><img src="{% static "img/logo.png" %}" width="512" height="94" class="img"></a>
            <br>
            <br>
            
        <!-- Search bar form -->
        <div class="input-append">
            <input class="span5" id="appendedInputButton" placeholder="Type your query (e.g. CoolerMaster, Intel 3770K, ...)" type="text" autofocus>
            <!-- <button class="btn btn-info" type="submit">Search</button> -->
			<input type="hidden" type="text" name="p" value="1">
 			<input class="btn btn-info" type="submit" value="Search">
    	</div>
    </div>	
</div>


{% endblock %}
