{% extends "base.html" %}

{% block sidebarLeft %}
<!-- Contains different product categories -->
<div class="sidebarLeft">

	<div class="well">
	    <ul class="nav nav-list">
	      <li class="sidebar_header nav-header">Categories</li>
	      <li><a href="/search/?q=case">Cases</a></li>
	      <li><a href="/search/?q=cpu">CPUs</a></li>
	      <li><a href="/search/?q=drive">Hard Drives</a></li>
	      <li><a href="/search/?q=memory">Memory</a></li>
	      <li><a href="/search/?q=motherboard">Motherboards</a></li>
	    </ul>
    </div>
    
</div>
{% endblock %}

