{% extends "rightbase.html" %}

{% block title %}
<title>Transparent: Modules</title>
{% endblock %}

{% block content %}

<div class="content">
    <div class="btn-group btn-group-vertical">
        <h2 class="">This page is under construction</h2>
    </div>	
</div>

<div class="centered-content">
    	<!-- TEXT START -->
        <div class="row-fluid">
        	<div class="span12">
                <!-- Introduction -->
                <h3>Transparent.Modules</h3>

                <!-- Iterate through all sources and related modules -->
                
                <div class="text-header">Amazon</div>
                {% comment %}
                <br>
                <ul class="text-left">
            		<li><a href="/module.html">module1</a></li>
                    <li><a href="/module.html">module2</a></li>
                    <li><a href="/module.html">module5</a></li>
                </ul>
                {% endcomment %}
                <br>
                <br>
                <div class="text-header">Newegg</div>
                {% comment %}
                <br>
                <ul class="text-left">
            		<li><a href="/module.html">module3</a></li>
                    <li><a href="/module.html">module4</a></li>
                </ul>
                {% endcomment %}
            </div>
        </div>  <!-- End of row. Max of 3 items per row. --> 
    
    </div> <!-- End of Contents-->

{% endblock %}
