{% extends "leftbase.html" %}

{% block title %}
<title>Transparent: Product: {{ product.name }}</title>
{% endblock %}

{% block content %}

<!-- Search bar -->
<div class="content">
  <div class="btn-group btn-group-vertical">
        <!-- Search bar form -->
        <div class="input-append">
        <!-- We want to replace the placeholder string with the string that was just searched. -->
        <form action="/search/">
            <input class="span5" id="appendedInputButton" placeholder="Type your query (e.g. GTX 670, Intel 3770K, ...)" type="text" name="q">
            <input type="hidden" type="text" name="p" value="1">
            <input class="btn btn-primary" type="submit" value="Search">
        </form>
         </div>
    </div>
    
    <!-- Display product -->
        <!-- THINGS TO DO -->
        <!-- Don't hard code Module Name -->

    <div class="row-fluid">
        <h2>{{ product.name }}</h2>
	    <ul class="thumbnails">
        	<li class="span4"><a class="thumbnail" href="#"><img alt="360x270" data-src="holder.js/360x270" style="width: 360px; height: 270px;" src="{{ product.image }}"></img></a></li>
		    <li class="span6"></li>
            <li class="span6"> <h3> Current Price: </h3> <h3> {{ product.price }} </h3> </li>
        </ul>
        
        <ul>
            {% for key,value in product.module1.items %}
  	            <li class="span6"> <h5> {{ key }}: </h5> {{ value }} </li>
            {% endfor %}
            {% comment %}
          	<li class="span6"> <h4> Source: </h4> <a href="#">Newegg</a> </li>
		    <li class="span6"></li>
            <li class="span6"> <h5> Attribute: </h5> value </li>
            {% endcomment %}
        </ul>
        
        <ul>
            {% for key,value in product.module2.items %}
  	            <li class="span6"> <h5> {{ key }}: </h5> {{ value }} </li>
            {% endfor %}
            {% comment %}
          	<li class="span6"> <h4> Source: </h4> <a href="#">Amazon</a> </li>
		    <li class="span6"></li>
            <li class="span6"> <h5> Attribute: </h5> value </li>
            {% endcomment %}
        </ul>
    </div>
</div>

<!-- End of Product Diplays. -->

{% endblock %}
