{% extends "leftbase.html" %}

{% block title %}
<title>Transparent: Product: {{ product.name }}</title>
{% endblock %}

{% block content %}

<!-- Search bar -->
<div class="content">
    
	<div class="btn-group btn-group-vertical" style="margin-bottom: 20px;">
		<!-- Search bar form -->
		<div class="input-append">
			<!-- We want to replace the placeholder string with the string that was just searched. -->
			<form action="/search/">
				<input class="span5" id="appendedInputButton" placeholder="Type your query (e.g. CoolerMaster, Intel 3770K, ...)" type="text" name="q">
				<input type="hidden" type="text" name="p" value="1">
				<input class="btn btn-info" type="submit" value="Search">
			</form>
		</div>
	</div>

    <!-- Display product -->
        <!-- THINGS TO DO -->
        <!-- Don't hard code Module Name -->

    <div class="row-fluid" style="padding: 20px;">
        <h2>{{ product.name }}</h2>
	    <ul class="thumbnails">
        	<li class="span4"><a class="thumbnail" href="#"><img alt="360x270" style="width: 360px; height: auto;" src="{{ product.image }}"></img></a></li>
			{% comment %}
			<!-- UNCOMMENT AND ADD DJANGO LOGIC -->
		    <li class="span6">
				<!-- Logic for tracked or untracked -->
				<!-- MUST REMEMBER TO SEND TRACKING INFORMATION TO FRONTEND -->
				<form method="get">
				   	<button type="submit" class="btn">Track Item</button>
				</form>
			</li>
			{% endcomment %}

            {% comment %}
			<li class="span6">
            <form method="get" action="">
    				<button type="submit" class="btn btn-success">Tracking</button>
   			</form>
            </li>
            {% endcomment %}
            {% if user.is_authenticated %}
                <li class="span6">
                    <!-- REPLACE VALUE WITH 90% OF CURRENT PRICE FOR DEFAULT THRESHOLD -->
                    <div class="input-prepend" style="margin-top:10px;">
                        <!-- CHANGES THE THRESHOLD VALUE IN THE SETTINGS FIELDS FOR THE TRACKED ITEM -->
                        {% if tracking %}
                        <form method="post" action="{% url 'finder.views.stop_track' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn">Stop Tracking</button>
                            <input type="hidden" name="gid" value="{{ gid }}">
                            <input type="hidden" name="threshold" value="{{ threshold }}">
                        </form>
                        <h3>Current threshold price: {{ threshold }}</h3>
                        {% else %}
                        <form method="post" action="{% url 'finder.views.track' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn">Alert me when price drops below</button>
                            <input type="text" class="span3" placeholder="{{ product.price }}" name="threshold">
                            <input type="hidden" name="gid" value="{{ gid }}">
                            <input type="hidden" name="price" value="{{ product.price }}">
                            <input type="hidden" name="name" value="{{ product.name }}">
                        </form>
                        {% endif %}
                    </div>
                </li>
            {% endif %}
            <li class="span6"> <h3> Lowest Price: {{ product.price }}</h3> </li>
        </ul>

		<!-- Start tabs with other module results here -->
	    <div class="tabbable tabs-left well well-large">
	    	<ul class="nav nav-tabs">
				<!-- ITERATE THROUGH MODULES AND PRINT NAME. change href-->
                {% for module in modules %}
                    {% if forloop.first %}
                    <li class="active">
                    {% else %}
                    <li class="">
                    {% endif %}
                    <a data-toggle="tab" href="#{{ module.backend_id }}">{{ module.source_name }}</a>
                    </li>
                {% endfor %}
   			</ul>
    		<div class="tab-content">
                {% for module in modules %}
                    {% if forloop.first %}
                    <div id="{{ module.backend_id }}" class="tab-pane active">
                    {% else %}
                    <div id="{{ module.backend_id }}" class="tab-pane">
                    {% endif %}
                        <ul>
                            <li class="span10" style="margin-bottom: 10px;">
                                <!-- Submit vote to frontend for storage -->
                                <form class="btn-group">
                                    <button class="btn btn-success"><i class="icon-thumbs-up"> </i> Up vote</button>
                                    <button class="btn btn-danger"><i class="icon-thumbs-down"> </i> Down vote</button>
                                </form>
                            </li>
                            <!-- MAKE SURE TO LIST THE PRICE FIRST -->
                            {% for id, data in product.items %}
                                {% ifequal id module.backend_id %}
								<li class="span7" style="margin-bottom: 10px;">
								<table class="table table-hover table-bordered">
                                    <tr><td><b> price </b></td><td> {{ data.price }} </td></tr>
                                    <tr><td><b> url </b></td><td> <a href="{{ data.url }}">Retailer page</a></td></tr>
                                {% for key, value in data.items %}
                                    {% if key != "price" and key != "url" and key != "module" and key != "image" and key != "module_product_id" %}
                                        <tr><td><b> {{ key }} </b></td><td> {{ value }} </td></tr>
                                    {% endif %}
                                {% endfor %}
								</table>
								</li>
                                {% endifequal %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
    		</div>
    	</div>

		<!-- FILL IN PRICE HISTORY HERE USING THE APPROPRIATE DJANGO VARIABLES -->
		<div id="chart-1" style="height: 300px;" class="well"></div>
		<script>
			var chart = document.getElementById("chart-1");
			new Chartkick.PieChart(chart, {"Football": 45, "Soccer": 56, "Basketball": 98});
			// or remote
			new Chartkick.LineChart(chart, "/charts/stocks");
		</script>

		{% comment %}
        <ul>
            {% for key,value in product.module1.items %}
  	            <li class="span6"> <h5> {{ key }}: </h5> {{ value }} </li>
            {% endfor %}
        </ul>
		{% endcomment %}
        
		{% comment %}
        <ul>
            {% for key,value in product.module2.items %}
  	            <li class="span6"> <h5> {{ key }}: </h5> {{ value }} </li>
            {% endfor %}
          	<li class="span6"> <h4> Source: </h4> <a href="#">Amazon</a> </li>
		    <li class="span6"></li>
            <li class="span6"> <h5> Attribute: </h5> value </li>
        </ul>
		{% endcomment %}
    </div>
</div>

<!-- End of Product Diplays. -->

{% endblock %}
