{% extends "base.html" %}

{% block sidebarRight %}
        <div class="sidebarRight">
    		<div class="well">
                <ul class="nav nav-list">
                  <li><a href="{% url 'finder.views.about' %}"> <i class="icon-info-sign"> </i> About</a></li>
                  <li><a href="{% url 'finder.views.how_it_works' %}"> <i class="icon-info-sign"> </i> How it Works</a></li>
                  <li><a href="{% url 'finder.views.moduleAPI' %}"> <i class="icon-briefcase"> </i> Module API</a></li>
                </ul>
            </div>
    	</div>
{% endblock %}
