{% extends "leftbase.html" %}

{% block title %}
<title>Transparent: Search: {{ query }}</title>
{% endblock %}

{% load staticfiles %}

{% block content %}

<!-- Search bar -->

<div class="content">
  <div style="width:100%; text-align:center;"><img src="{% static 'img/logo.png' %}" width="50%" height="auto" class="img"></div>

  <div class="btn-group btn-group-vertical">
            <!-- INCLUDE LOGO SOURCE HERE instead of "..." --            <!-- Search bar form -->
        <div class="input-append">
        <form action="/search/">
            <input class="span7" id="appendedInputButton" value="{{ query }}" type="text" name="q">
            <input type="hidden" type="text" name="p" value="1">
            <input class="btn btn-info" type="submit" value="Search">
        </form>
        </div>
    </div>
    
<!-- Display results of search -->

<!-- THING TO DO -->
    <!-- Replace src="" with correct image source -->
	<!-- Replace href="/product/?q=memory" in thumbnail with product page -->
    <!-- Replace the placeholder in the search bar -->
    <!-- Pagination should point back to this page, but change the results being displayed -->

{% for row in products %}
<!-- ROW -->
<div class="row-fluid">
	<ul class="thumbnails">
        {% for product in row %}
    	<li class="span4">
        	<div class="thumbnail well well-small">
        	    <a href="{% url 'finder.views.product' product.gid %}">
        	        <img src="{{ product.image }}" alt="300x200" style="width: 300px; height: 200px;" data-src="{% static 'js/holder.js' }}/300x200" border="0" /></a>
            	<div class="caption">
            	<h4>{{ product.name }}</h4>    
                <ul style="list-style:none;">
	                <li> Price: {{ product.price }} </li>
                    <li> Attribute: value </li>
	                <li> Attribute: value </li>
                </ul>
                </div>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
{% empty %}
<h2 style="text-align: center;">No results</h2>
{% endfor %}
    
<!-- End of Product Diplays. -->

<!-- Pagination-->
<ul class="pager">
    {% ifequal page "1" %}
        <li class="previous disabled"><a href="#">&larr; Previous</a></li>    
    {% else %}
        <li class="previous"><a href="{% url 'finder.views.search' %}?q={{ query|urlencode }}&p={{ page|add:'-1' }}">&larr; Previous</a></li>
    {% endifequal %}
    
    {% if more %}
        <li class="next"><a href="{% url 'finder.views.search' %}?q={{ query|urlencode }}&p={{ page|add:'1' }}">Next &rarr;</a></li>
    {% else %}
        <li class="next disabled"><a href="#">Next &rarr;</a></li>
    {% endif %}
</ul>
<!-- End Pagination -->

</div> <!-- End of Contents-->

{% endblock %}
