{% extends "base.html" %}

{% block title %}
<title>Transparent: Settings</title>
{% endblock %}

{% block content %}
<div class="centered-content">
    <!-- TEXT START -->
        <div class="row-fluid">
        	<div class="span12">
                <!-- Introduction -->
                {% if user.is_authenticated %}
                    <h3>Settings</h3>
                	
				    <table width="90%" class="table table-hover table-bordered">
				        <thead>
					    <tr>
                    		<th>
						        <h5>Choose</h5>
					        </th>
                    		<th>
						        <h5>Source</h5>
					        </th>
                    		<th>
						        <h5>Upvotes</h5>
					        </th>
					        <th>
						        <h5>Downvotes</h5>
					        </th>
                    		<th>
						        <h5>Submitted</h5>
					        </th>
					    </tr>
					    </thead>
					    <!-- Iterate through all of the modules and urls included in the ModuleSet delected from above -->
					    {% for module in modules %}
					    <tr>
						    <td>
						        <label class="checkbox">
						            {% if module.backend_id in user_modules %}
						                <input class="foobar" type="checkbox"  checked="true"
						                       name="{{ module.name }}" value="{{ module.backend_id }}" onclick="toggleModule(this);">
						            {% else %}
						            	<input class="foobar" type="checkbox"
				                               name="{{ module.name }}" value="{{ module.backend_id }}" onclick="toggleModule(this);">
		                            {% endif %}
		  				            {{ module.name }}
						        </label>
					        </td>
						    <td>
						        {{ module.source_name }}
					        </td>
						    <td>{{ module.up_score }}</td>
						    <td>{{ module.down_score }}</td>
						    <td>{{ module.timestamp }}</td>
					    </tr>
					    {% endfor %}
				    </table>
			    {% else %}
    			    <h3>Please log in</h3>
			    {% endif %}
            </div>
        </div>
    
</div> <!-- End of Contents-->

{% endblock %}

