{% extends "base.html" %}

{% block title %}
<title>Settings</title>
{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="centered-content">
    
    <!-- TEXT START -->
    <div class="row-fluid">
      	<div class="span12">
            <!-- Introduction -->
            <h3>My_Settings</h3>
            <table width="90%" border="0">
				<tr>
                <td>
                 	<select>
                    <!-- Iterate through all of the available ModuleSets -->
					<option>ModuleSet1</option>
					<option>ModuleSet2</option>
					<option>ModuleSet3</option>
					<option>ModuleSet4</option>
					<option>ModuleSet5</option>
					</select><br>
                    <!-- Iterate through all of the modules included in the ModuleSet delected from above -->
					<select multiple="multiple">
					<option>module1</option>
					<option>module2</option>
					<option>module3</option>
					<option>module4</option>
					<option>module5</option>
					</select>
                </td>
				</tr>
			</table>
        </div>
    </div>  <!-- End of row. Max of 3 items per row. --> 
    
</div> <!-- End of Contents-->

{% endblock %}

