{% extends "base.html" %}

{% block title %}
<title>Transparent: Settings</title>
{% endblock %}

{% block content %}
<div class="centered-content">
    
	<!-- Under construction notice -->
    <h2 class="">This page is under construction</h2>

    <!-- TEXT START -->
        <div class="row-fluid">
        	<div class="span12">
                <!-- Introduction -->
                <h3>My_Settings</h3>
            	<table width="90%" border="0">
					<tr>
                    <td>
                    	<select>
                        <!-- Iterate through all of the available ModuleSets -->
						<option>ModuleSet1</option>
						<option>ModuleSet2</option>
						<option>ModuleSet3</option>
						<option>ModuleSet4</option>
						<option>ModuleSet5</option>
						</select><br>
						<table width="90%" border="0">
							<tr>
                    		<td>
								<h5>Choose</h5>
							</td>
                    		<td>
								<h5>Source</h5>
							</td>
                    		<td>
								<h5>Rating</h5>
							</td>
                    		<td>
								<h5>Last Updated</h5>
							</td>
							</tr>
							<!-- Iterate through all of the modules and urls included in the ModuleSet delected from above -->
							<tr>
								<td><form action="">
								<input type="checkbox" name="module" value="module1"> <a href="{% url 'finder.views.modules' %}">Newegg1</a><br><br>
								</form></td>
								<td><a href="http://www.newegg.com/">Newegg</a><br><br></td>
								<td>5.0<br><br></td>
								<td>October 07, 2012<br><br></td>
							</tr>
							<tr>
								<td><form action="">
								<input type="checkbox" name="module" value="module2"> <a href="{% url 'finder.views.modules' %}">Amazon1</a><br><br>
								</form></td>
								<td><a href="http://www.amazon.com/">Amazon</a><br><br></td>
								<td>4.0<br><br></td>
								<td>October 23, 2012<br><br></td>
							</tr>
						</table>
						{% comment %}
						<select multiple="multiple">
						<option>module1</option>
						<option>module2</option>
						<option>module3</option>
						<option>module4</option>
						<option>module5</option>
						</select>
						{% endcomment %}
                    </td>
					</tr>
				</table>
            </div>
        </div>  <!-- End of row. Max of 3 items per row. --> 
    
</div> <!-- End of Contents-->

{% endblock %}

