{% extends "base.html" %}

{% block title %}
<title>Transparent: Submit a Module</title>
{% endblock %}

{% block content %}

<div class="centered-content">

    {% if failed %}
        <div class="btn-group btn-group-vertical alert alert-error">
            <h2 class="">File upload failed.</h2>
        </div>	
    {% elif succeeded %}
        <div class="btn-group btn-group-vertical alert alert-success">
            <h2 class="">File upload succeeded!</h2>
        </div>
    {% endif %}

	<!-- TEXT START -->
	<div class="row-fluid">
		<div class="span12">
	        <!-- Begin submission form -->
	        <h3>Submit Module</h3>
	        <!-- use for loop to interate through all sources and related modules -->
	        <p>Please submit all code and documentation necessary for us to operate this module.</p>
	        
	        
	        <!-- Submit code and optional documentation(?) -->
            <form class="navbar-form" enctype="multipart/form-data" method="post" action="{% url 'finder.views.submit' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% comment %}
	            <input class="span4" type="text" name="module_name" placeholder="Module Name">
			    <br>
	            <input class="span4" type="text" name="source_name" placeholder="Source Name">
			    <br>
	            <input class="span4" type="text" name="source_url" placeholder="Source URL">
			    <br>
	            <br>
            	Upload Source File<br>
			    <input class="span4" type="file" name="source_code" title="Source File">
                <br>
                {% endcomment %}
	            <input type="submit" class="btn" value="Submit">
	        </form>
	    </div>
	</div>  <!-- End of row. Max of 3 items per row. -->
</div>

{% endblock %}
