{% extends "base.html" %}

{% block title %}
<title>Transparent: Tracked Items</title>
{% endblock %}

{% block content %}
<div class="centered-content">

    	<!-- TEXT START -->
        <div class="row-fluid">
        	<div class="span12">
                <!-- Introduction -->
                <h3>Tracker</h3>
                <table width="90%" class="table table-hover table-bordered">
                    <thead>
					<tr style="background-color:#E0E0E0;">
                        <th>
                        	<b>Product Name</b>
					    </th>
                        <th>
                            <b>Current Price</b>
					    </th>
                        <th>
						    <b>Desired Price</b>
					    </th>
                    </tr>
                    </thead>
                	<!-- Iterate through products being tracked -->
                    {% for product in products %}
                    <tr>
					    <td style="width:20%;">
                            <a href="{% url 'finder.views.product' product.gid %}">{{ product.name }}</a><br> 
					    </td>
					    <td style="width:20%;">
						    ${{ product.price }} 
					    </td>
					    <td style="width:20%;">
						    ${{ product.threshold }}
					    </td>
					    {% comment %}
                    	<td style="width:20%;">
                        	<!-- NOT IMPLEMENTING AT THIS TIME:
                        	Iterate through product price trends (changes in price since last view of tracked items page or 24 hours, whichever is longer) -->
						    +12%<br> 
						    -10%<br>
						    +1%</td>
					    {% endcomment %}
				    </tr>
					{% endfor %}
				</table>
            </div>
        </div>  <!-- End of row. Max of 3 items per row. --> 
    
</div> <!-- End of Contents-->

{% endblock %}
