/* IMPORTANT! CHANGE PATH TO REFLECT ACTUAL LOCATION OF CSS FILE */
@import url(http://fonts.googleapis.com/css?family=Megrim);

.loggedin {
	margin-top: 13px;
	margin-right: 20px;
	color: white;
}

.navbar-inverse .brand {
	font-family: 'Megrim', Sans;
	color: white;
	padding-top: 13px;
}

.container {
	margin-top: 8%;
	margin-bottom: 8%;
	width: 63%;
}

.mini-container {
	width: 350px;
}

.content {
	float: left;
	width:60%;
	margin-right: 2%;
}

.centered-content {
	float: left;
	width:60%;
	margin-left: 16%;
	margin-right: 2%;
}

.sidebarLeft {
	float:left;
	width: 16%;	

}
.sidebarRight {
	float:left;
	width: 20%;
}

.sidebar_header {
	font-size:16px;
}

.text-header {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #000066;
}

.text-left {
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
}

body {
	padding-top: 40px;
	background-color: rgb(245, 245, 245);
}

.outer-container {
	background-color: rgb(240, 240, 240);
	width: 100%;
	padding-top: 5px;
	padding-bottom: 40px;
	border-bottom: rgb(226, 226, 226) 1px solid;
}

.nav-list > li > a {
	padding-left: 15px;
}

.nav-list > li {
	padding-left: 10px;
}

.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

 .navbar-inner {
    text-align:center;
}

@media(max-width:1600px) {
	.container {
		width: 90%;
	}
}

@media(max-width:1368px) {
	.container {
		width: 95%;
	}
}
@media(max-width:1280px) {
	.container {
		width: 95%;
	}

	.content {
		float: left;
		width:60%;
	}

	.sidebarLeft {
		float:left;
		width: 17%;	

	}
	.sidebarRight {
		float:left;
		width: 20%;	
	}
}
